{% extends "admin/base_site.html" %}

{% block extrahead %}
{{ block.super }}
<style>
    /* Sidebar Styling */
    .sidebar {
        background-color: #000;
        color: #ffc107;
    }

    /* Header Styling */
    .module h2 {
        color: #ffc107;
    }

    /* Buttons */
    .button {
        background-color: #ffc107;
        border-radius: 5px;
        color: #000;
    }

    /* Table Rows */
    .results tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .results tr:nth-child(odd) {
        background-color: #fff;
    }

    /* Form Focus Effect */
    input:focus, select:focus, textarea:focus {
        border-color: #ffc107;
        box-shadow: 0 0 5px #ffc107;
    }
</style>
{% endblock %}
